.navigation-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #cdeaff;
    position: fixed;
    top: 0;
    width: 100%;
}

.navigation-bar li {
    float: left;
}

.navigation-bar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation-bar li a:hover:not(.active) {
    background-color: #b0c1e0;
}

.active {
    background-color: #7771de
}

body {
    display: block;
    margin: 0px;
    margin-top: 50px;
}

.body-parts {
    font-size: 18px;
}

.helpful-links-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.helpful-links:link, .helpful-links:visited {
    background-color: #cdeaff;
    color: black;
    padding: 14px 25px;
    margin-bottom: 5px;
    text-align: center;
    text-decoration: None;
    display: inline-block;
}

.helpful-links:hover, .helpful-links:active {
    background-color: #a4bbcc;
}

.basics {
    display:inline-block;
}

a:link {
    color: blue;
}

a:visited {
    color: purple;
}

a:hover {
    color: hotpink;
}
